/*.gridview*/
.gridview table tbody tr td a,
.gridview table tbody tr td span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.gridview table > tbody > tr > td > span {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.gridview table > tbody > tr > td:first-child > a,
.gridview table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.gridview table > tbody > tr > td:last-child > a,
.gridview table > tbody > tr > td:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.gridview table > tbody > tr > td > a:hover,
.gridview table > tbody > tr > td > span:hover,
.gridview table > tbody > tr > td > a:focus,
.gridview table > tbody > tr > td > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
/*end .gridview */


.row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    /*min-height: 70px;*/
}
